body {
  position: relative;
  width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;
  scrollbar-gutter: stable;
  background: var(--white);
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--black);
  line-height: 1.2;
  font-size: 18rem;

  &.lock {
    overflow: hidden;
  }

  @include tablet {
    font-size: 16rem;
  }
}

#root {
  min-height: inherit;
  @include flex($fd: column);
}

a,
button,
input,
textarea,
svg * {
  transition: var(--transition);
}

input,
textarea {
  background: transparent;
  border: none;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  position: absolute;
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
}

ul li {
  list-style: none;
}
