@import "../../../styles/style.scss";

.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  @include flex(center, $jc: center);

  clip-path: inset(0 0 0 0);
  background: var(--gray-light);
  transition: clip-path 0.7s var(--anim-ex);
}

.hidden {
  clip-path: inset(0 0 100% 0);
}

.img {
  max-width: 300rem;

  & img {
    @include img-size;
  }
}
